.headline {
    //display: flex;
    display: block;
    margin: auto;
    //background-color: white;
    width: 95%;
    height: 100%;
    font-weight: bolder;
    font-size: 50px;
    color: #8b146f;
    border: 5px solid #8b146f;
    padding: 0.5em;
    margin-bottom: 1em;
    //padding: 1em;
    // text-align: left;
  }