.myTrip {
    text-align: center;
    margin: 2em;
    padding: 1em;
    grid-area: res;
    height: auto;
    margin-top: 2em;
    font-size: 25px;
    color: #59117a;
    font-size: 25px;
  }
  #image {
    width: 80%;
  }
