.myTrip {
    text-align: center;
    margin: 2em;
    padding: 1em;
    grid-area: res;
    height: auto;
    margin-top: 2em;
    font-size: 25px;
    color: #49073a;
    font-size: 25px;
    background-color:  #e2b0d6;
    box-shadow: 2px 4px 5px #49073a;
  }
  #image {
    width: 100%;
  }