.headline {
    display: block;
    margin: auto;
    width: 95%;
    height: 100%;
    font-weight: bolder;
    font-size: 50px;
    color: #59117a;
    border: 5px solid #59117a;
    padding: 0.5em;
    margin-bottom: 1em;
  }

body {
    background: linear-gradient(to bottom, #b721ff, #fee140);
    //background: linear-gradient(to bottom, #b721ff, #2af598, #c05555, #fee140, #fa709a);
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;

    #trip {
      display: grid;
     // grid-auto-rows: minmax(60px, auto);
      grid-template-rows: auto auto auto;
      grid-template-columns: auto;
      grid-template-areas:
      "city"
      "From"
      "To";
      font-size: 18px;
      justify-content:center ;
      align-content:center ;

    }

   /* #newEntry {
      display: block;
      justify-content: center;
    }*/

    label {
      display: block;
      font-size: 30px;
      color: #59117a;
      padding: 5px;
    }
    .city {
      grid-area: city;
    }
     .Ddate {
       grid-area: From;
     } 
     .Rdate {
       grid-area: To;
     }
    input, textarea {
      display: block;
      height: 60px;
      width: 320px;
      background:white;
      color:  #b721ff;
      font-size: 22px;
      border: 3px solid ;
      margin: 5px;
    }
    button {
      padding: 0.75em 2em;
      text-align: center;
      text-decoration: none;
      font-family: sans-serif;
      color: #b721ff;
      font-size: 30px;
      margin: auto;
      margin-top: 2em;
      display: block;
      border: 2px solid #b721ff;
      border-radius: 0.3em;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;
  }
  button:before {
      content: '';
      background-color: #fee140;
      height: 100%;
      width: 3em;
      display: block;
      position: absolute ;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
  }
  button:hover {
      background-color: #b721ff;
      color: #fee140;
      border-bottom: 4px solid #ae2ceb;
 }
 button:hover:before {
     transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
 }
 @keyframes sheen {
     0% {
         transform: skewY(-45deg) translateX(0);
     }
     100% {
         transform: skewY(-45deg) translateX(12.5em);
     }
 }

    h1 {
      font-size: 40px;
      color: #49073a
    }
  
 
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }

    ::placeholder {
      color: #da9acb;
    }
  
    :-ms-input-placeholder {
      color: #e2b0d6;
    }

    ::-ms-input-placeholder {
      color: #e2b0d6;
    }
  }

  @media (min-width: 901px) {
    #trip {
      display: grid;
      //grid-auto-rows: auto;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
      " full full full";
      font-size: 25px;
      align-items: center;
      justify-content:space-between ;
      align-content:space-between  ;

    }    
    #newEntry {
      display: block;
      grid-area: full;
      justify-content: center;
    }
  }
